$colorBlack-Gray: #5d5d5d;
$ColorBlack: #090909;

#bloqueImagen {
	max-width: 100%;
}

#contenido h2 {
    font-size: 18px;
	color: $ColorBlack;
	border-bottom: 6px solid $ColorBlack;
	padding-bottom: 12px;
	padding-left: 20px;
	background-image: url('../img/arrow.png');
	background-repeat: no-repeat;
	background-position: 0 7px;
}
#contenido p {
	color: $colorBlack-Gray;
	font-size: 12px;
	line-height: 15px;
}

#lista-contenido {
	@include list-style;
	margin: 0;
	padding: 0;
}

#lista-contenido li {
    padding-left: 14%;
	background-image: url('../img/check.png');
	background-repeat: no-repeat;	
	background-position: top left;
}

.box {
	width: 29%;
	float: left;
}

.box + .box {
	margin-left: 6.25%;;
}


.link-contenido {
	color:$ColorBlack;
	font-style: italic;
	font-size: 12px;
	@include text-decoration;
}

/*Bloque de imajenes */
#portafolio{
	border-bottom: none;	
}
#imajenes a+a {
	margin-left: 2.9%;
}

.caja-image {
	width: 22%
    
}

/* Bloque info*/

#bloquInformacion div {
    float: left;
	margin-bottom: 30px;
}

#bloqueActualizar {
	max-width: 77%;
}

#bloqueActualizar p {
    font-size: 12px;
	color: #5d5d5d;
	max-width: 63%;
}

#redesSociales {
	max-width: 23%;
}
#redesSociales a+a{
	margin-left: 1%;
}

#redesSociales h5 {
	padding-bottom: 12px;
	background-position: 0 3px;
}

.nav-link-menu {
	display: none;
}