@import 'content';
$colorBlack:#090909;
$colorgrayclaro: #c0c0c0;
$colorgrayoscuro: #999898;
$coloranaranjado:#fe9b00;


#logo {
    float: left;
    max-width: 19%;
    width: 100%;
}
#nav {
	float: right;
	width: 68%;
	position: relative;
}
#link-email {
    font-size: 0.7rem;
	color: $colorgrayclaro;
	text-decoration: none;
	position: absolute;
	top: 0;
	right: 0;
}

#list {
    @include list-style;
	margin: 5.7% 0 0 0;
	padding: 0;
}

#list li {
    float: left;
}

#list li + li {
    margin-left: 8%;
}

#list a {
    font-size: 0.7rem;
	font-weight: bold;
	color: $coloranaranjado;
	text-decoration: none;
	text-transform: uppercase;
}